<!DOCTYPE html>
<html>
  <head>
    <title>商品管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/商品管理/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/商品管理/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1305" class="ax_default _文本段落">
        <div id="u1305_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1306" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- 菜单 (动态面板) -->
      <div id="u1307" class="ax_default" data-label="菜单">
        <div id="u1307_state0" class="panel_state" data-label="State1" style=" width: NaNpx; height: NaNpx;">
          <div id="u1307_state0_content" class="panel_state_content">

            <!-- Unnamed (组合) -->
            <div id="u1308" class="ax_default" data-width="141" data-height="32">

              <!-- Unnamed (nav) -->

              <!-- Unnamed (nav1) -->

              <!-- Unnamed (图片) -->
              <div id="u1311" class="ax_default _图片">
                <img id="u1311_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                <!-- Unnamed () -->
                <div id="u1312" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1313" class="ax_default _文本段落">
                <div id="u1313_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1314" class="text">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';">后台管理</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u1315" class="ax_default" data-width="141" data-height="164">

              <!-- Unnamed (组合) -->
              <div id="u1316" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u1319" class="ax_default _图片">
                  <img id="u1319_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u1320" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1321" class="ax_default _文本段落">
                  <div id="u1321_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u1322" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">会员管理</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u1323" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u1326" class="ax_default _图片">
                  <img id="u1326_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u1327" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1328" class="ax_default _文本段落">
                  <div id="u1328_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u1329" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">电子银行</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u1330" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u1333" class="ax_default _图片">
                  <img id="u1333_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u1334" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1335" class="ax_default _文本段落">
                  <div id="u1335_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u1336" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">购物管理</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u1337" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u1340" class="ax_default _图片">
                  <img id="u1340_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u1341" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1342" class="ax_default _文本段落">
                  <div id="u1342_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u1343" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">信息查询</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u1344" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u1347" class="ax_default _图片">
                  <img id="u1347_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u1348" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1349" class="ax_default _文本段落">
                  <div id="u1349_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u1350" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">资讯管理</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1351" class="ax_default _文本段落">
              <div id="u1351_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1352" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 用户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1353" class="ax_default _文本段落">
              <div id="u1353_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1354" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 角色管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1355" class="ax_default _文本段落">
              <div id="u1355_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1356" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 权限管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1357" class="ax_default _文本段落">
              <div id="u1357_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1358" class="text">
                <p><span style="font-family:'应用字体 Bold', '应用字体';">&nbsp;· 商品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1359" class="ax_default _文本段落">
              <div id="u1359_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1360" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 商品套餐管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1361" class="ax_default _文本段落">
              <div id="u1361_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1362" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 基础信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1363" class="ax_default _文本段落">
              <div id="u1363_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1364" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 数据字典</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1365" class="ax_default _文本段落">
        <div id="u1365_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1366" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u1367" class="ax_default _表格">

        <!-- Unnamed (单元格) -->
        <div id="u1368" class="ax_default _单元格">
          <img id="u1368_img" class="img " src="images/用户管理/u422.png"/>
          <!-- Unnamed () -->
          <div id="u1369" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">选择</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1370" class="ax_default _单元格">
          <img id="u1370_img" class="img " src="images/用户管理/u424.png"/>
          <!-- Unnamed () -->
          <div id="u1371" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">商品名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1372" class="ax_default _单元格">
          <img id="u1372_img" class="img " src="images/用户管理/u430.png"/>
          <!-- Unnamed () -->
          <div id="u1373" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">市场价（元）</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1374" class="ax_default _单元格">
          <img id="u1374_img" class="img " src="images/商品管理/u1374.png"/>
          <!-- Unnamed () -->
          <div id="u1375" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">优惠价（元）</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1376" class="ax_default _单元格">
          <img id="u1376_img" class="img " src="images/商品管理/u1376.png"/>
          <!-- Unnamed () -->
          <div id="u1377" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">库存</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1378" class="ax_default _单元格">
          <img id="u1378_img" class="img " src="images/用户管理/u432.png"/>
          <!-- Unnamed () -->
          <div id="u1379" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">状态(上架/下架)</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1380" class="ax_default _单元格">
          <img id="u1380_img" class="img " src="images/用户管理/u434.png"/>
          <!-- Unnamed () -->
          <div id="u1381" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">最后修改时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1382" class="ax_default _单元格">
          <img id="u1382_img" class="img " src="images/用户管理/u436.png"/>
          <!-- Unnamed () -->
          <div id="u1383" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1384" class="ax_default _单元格">
          <img id="u1384_img" class="img " src="images/用户管理/u438.png"/>
          <!-- Unnamed () -->
          <div id="u1385" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">自然之宝营养片</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1386" class="ax_default _单元格">
          <img id="u1386_img" class="img " src="images/用户管理/u444.png"/>
          <!-- Unnamed () -->
          <div id="u1387" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">288.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1388" class="ax_default _单元格">
          <img id="u1388_img" class="img " src="images/商品管理/u1388.png"/>
          <!-- Unnamed () -->
          <div id="u1389" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">256.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1390" class="ax_default _单元格">
          <img id="u1390_img" class="img " src="images/商品管理/u1390.png"/>
          <!-- Unnamed () -->
          <div id="u1391" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">123</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1392" class="ax_default _单元格">
          <img id="u1392_img" class="img " src="images/用户管理/u446.png"/>
          <!-- Unnamed () -->
          <div id="u1393" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1394" class="ax_default _单元格">
          <img id="u1394_img" class="img " src="images/用户管理/u448.png"/>
          <!-- Unnamed () -->
          <div id="u1395" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-26 15:04:01</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1396" class="ax_default _单元格">
          <img id="u1396_img" class="img " src="images/用户管理/u450.png"/>
          <!-- Unnamed () -->
          <div id="u1397" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1398" class="ax_default _单元格">
          <img id="u1398_img" class="img " src="images/用户管理/u452.png"/>
          <!-- Unnamed () -->
          <div id="u1399" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">绿A天然螺旋藻片</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1400" class="ax_default _单元格">
          <img id="u1400_img" class="img " src="images/用户管理/u458.png"/>
          <!-- Unnamed () -->
          <div id="u1401" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">134.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1402" class="ax_default _单元格">
          <img id="u1402_img" class="img " src="images/商品管理/u1402.png"/>
          <!-- Unnamed () -->
          <div id="u1403" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">110.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1404" class="ax_default _单元格">
          <img id="u1404_img" class="img " src="images/商品管理/u1404.png"/>
          <!-- Unnamed () -->
          <div id="u1405" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">332</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1406" class="ax_default _单元格">
          <img id="u1406_img" class="img " src="images/用户管理/u460.png"/>
          <!-- Unnamed () -->
          <div id="u1407" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1408" class="ax_default _单元格">
          <img id="u1408_img" class="img " src="images/用户管理/u462.png"/>
          <!-- Unnamed () -->
          <div id="u1409" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-23 15:04:29</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1410" class="ax_default _单元格">
          <img id="u1410_img" class="img " src="images/用户管理/u464.png"/>
          <!-- Unnamed () -->
          <div id="u1411" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1412" class="ax_default _单元格">
          <img id="u1412_img" class="img " src="images/用户管理/u466.png"/>
          <!-- Unnamed () -->
          <div id="u1413" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">维生素E软胶囊</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1414" class="ax_default _单元格">
          <img id="u1414_img" class="img " src="images/用户管理/u472.png"/>
          <!-- Unnamed () -->
          <div id="u1415" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">99.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1416" class="ax_default _单元格">
          <img id="u1416_img" class="img " src="images/商品管理/u1416.png"/>
          <!-- Unnamed () -->
          <div id="u1417" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">88.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1418" class="ax_default _单元格">
          <img id="u1418_img" class="img " src="images/商品管理/u1418.png"/>
          <!-- Unnamed () -->
          <div id="u1419" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">111</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1420" class="ax_default _单元格">
          <img id="u1420_img" class="img " src="images/用户管理/u474.png"/>
          <!-- Unnamed () -->
          <div id="u1421" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1422" class="ax_default _单元格">
          <img id="u1422_img" class="img " src="images/用户管理/u476.png"/>
          <!-- Unnamed () -->
          <div id="u1423" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-21 17:14:09</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1424" class="ax_default _单元格">
          <img id="u1424_img" class="img " src="images/用户管理/u478.png"/>
          <!-- Unnamed () -->
          <div id="u1425" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1426" class="ax_default _单元格">
          <img id="u1426_img" class="img " src="images/用户管理/u480.png"/>
          <!-- Unnamed () -->
          <div id="u1427" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">康维他混合蜂蜜</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1428" class="ax_default _单元格">
          <img id="u1428_img" class="img " src="images/用户管理/u486.png"/>
          <!-- Unnamed () -->
          <div id="u1429" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">299.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1430" class="ax_default _单元格">
          <img id="u1430_img" class="img " src="images/商品管理/u1430.png"/>
          <!-- Unnamed () -->
          <div id="u1431" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">278.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1432" class="ax_default _单元格">
          <img id="u1432_img" class="img " src="images/商品管理/u1432.png"/>
          <!-- Unnamed () -->
          <div id="u1433" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">325</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1434" class="ax_default _单元格">
          <img id="u1434_img" class="img " src="images/用户管理/u488.png"/>
          <!-- Unnamed () -->
          <div id="u1435" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1436" class="ax_default _单元格">
          <img id="u1436_img" class="img " src="images/用户管理/u490.png"/>
          <!-- Unnamed () -->
          <div id="u1437" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-11 15:04:49</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1438" class="ax_default _形状">
        <div id="u1438_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1439" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新增</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1440" class="ax_default _形状">
        <div id="u1440_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1441" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">修改</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1442" class="ax_default _形状">
        <div id="u1442_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1443" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1444" class="ax_default _文本段落">
        <div id="u1444_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1445" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">1</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1446" class="ax_default _文本段落">
        <div id="u1446_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1447" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">2</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1448" class="ax_default _文本段落">
        <div id="u1448_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1449" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">3</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1450" class="ax_default _文本段落">
        <div id="u1450_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1451" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">4</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1452" class="ax_default _文本段落">
        <div id="u1452_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1453" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">5</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1454" class="ax_default _文本段落">
        <div id="u1454_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1455" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">6</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1456" class="ax_default _文本段落">
        <div id="u1456_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1457" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">7</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1458" class="ax_default _文本段落">
        <div id="u1458_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1459" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">8</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1460" class="ax_default _文本段落">
        <div id="u1460_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1461" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">9</span></p>
        </div>
      </div>

      <!-- Unnamed (向右三角形) -->
      <div id="u1462" class="ax_default _形状">
        <img id="u1462_img" class="img " src="images/用户管理/u524.png"/>
        <!-- Unnamed () -->
        <div id="u1463" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1464" class="ax_default _文本段落">
        <div id="u1464_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1465" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';text-decoration:underline;">Next</span></p>
        </div>
      </div>

      <!-- r (单选按钮) -->
      <div id="u1466" class="ax_default _单选按钮" data-label="r">
        <label for="u1466_input">
          <!-- Unnamed () -->
          <div id="u1467" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1466_input" type="radio" value="radio" name="u1466"/>
      </div>

      <!-- r2 (单选按钮) -->
      <div id="u1468" class="ax_default _单选按钮" data-label="r2">
        <label for="u1468_input">
          <!-- Unnamed () -->
          <div id="u1469" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1468_input" type="radio" value="radio" name="u1468"/>
      </div>

      <!-- r3 (单选按钮) -->
      <div id="u1470" class="ax_default _单选按钮" data-label="r3">
        <label for="u1470_input">
          <!-- Unnamed () -->
          <div id="u1471" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1470_input" type="radio" value="radio" name="u1470"/>
      </div>

      <!-- r4 (单选按钮) -->
      <div id="u1472" class="ax_default _单选按钮" data-label="r4">
        <label for="u1472_input">
          <!-- Unnamed () -->
          <div id="u1473" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1472_input" type="radio" value="radio" name="u1472"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1474" class="ax_default _文本段落">
        <div id="u1474_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1475" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">注:状态上下架,打勾表示上架可出售,且立即生效</span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u1476" class="ax_default _复选框">
        <label for="u1476_input">
          <!-- Unnamed () -->
          <div id="u1477" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1476_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u1478" class="ax_default _复选框">
        <label for="u1478_input">
          <!-- Unnamed () -->
          <div id="u1479" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1478_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u1480" class="ax_default _复选框">
        <label for="u1480_input">
          <!-- Unnamed () -->
          <div id="u1481" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1480_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u1482" class="ax_default _复选框">
        <label for="u1482_input">
          <!-- Unnamed () -->
          <div id="u1483" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u1482_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- alert-delete (动态面板) -->
      <div id="u1484" class="ax_default ax_default_hidden" data-label="alert-delete" style="display:none; visibility: hidden">
        <div id="u1484_state0" class="panel_state" data-label="State1" style=" width: NaNpx; height: NaNpx;">
          <div id="u1484_state0_content" class="panel_state_content">

            <!-- Unnamed (组合) -->
            <div id="u1485" class="ax_default" data-width="250" data-height="160">

              <!-- Unnamed (矩形) -->
              <div id="u1486" class="ax_default _形状">
                <div id="u1486_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1487" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1488" class="ax_default _形状">
                <img id="u1488_img" class="img " src="images/用户管理/u713.png"/>
                <!-- Unnamed () -->
                <div id="u1489" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1490" class="ax_default _文本段落">
              <div id="u1490_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1491" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">提示</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1492" class="ax_default _图片">
              <img id="u1492_img" class="img " src="images/用户管理/u549.png"/>
              <!-- Unnamed () -->
              <div id="u1493" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1494" class="ax_default _形状">
              <div id="u1494_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1495" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">确定</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1496" class="ax_default _形状">
              <div id="u1496_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1497" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">取消</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1498" class="ax_default _图片">
              <img id="u1498_img" class="img " src="images/用户管理/u721.png"/>
              <!-- Unnamed () -->
              <div id="u1499" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1500" class="ax_default _文本段落">
              <div id="u1500_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1501" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">该产品与套餐关联，不能删除</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1502" class="ax_default _图片">
              <img id="u1502_img" class="img " src="images/商品管理/u1502.png"/>
              <!-- Unnamed () -->
              <div id="u1503" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1504" class="ax_default _形状">
        <div id="u1504_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1505" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">查看</span></p>
        </div>
      </div>

      <!-- text (文本框) -->
      <div id="u1506" class="ax_default _文本框" data-label="text">
        <input id="u1506_input" type="text" value="请输入关键字" class="text_sketch"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1507" class="ax_default _形状">
        <div id="u1507_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1508" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">查询</span></p>
        </div>
      </div>

      <!-- confirm (动态面板) -->
      <div id="u1509" class="ax_default ax_default_hidden" data-label="confirm" style="display:none; visibility: hidden">
        <div id="u1509_state0" class="panel_state" data-label="State1" style=" width: NaNpx; height: NaNpx;">
          <div id="u1509_state0_content" class="panel_state_content">

            <!-- Unnamed (组合) -->
            <div id="u1510" class="ax_default" data-width="250" data-height="160">

              <!-- Unnamed (矩形) -->
              <div id="u1511" class="ax_default _形状">
                <div id="u1511_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1512" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1513" class="ax_default _形状">
                <img id="u1513_img" class="img " src="images/用户管理/u713.png"/>
                <!-- Unnamed () -->
                <div id="u1514" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1515" class="ax_default _文本段落">
              <div id="u1515_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1516" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">提示</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1517" class="ax_default _图片">
              <img id="u1517_img" class="img " src="images/用户管理/u549.png"/>
              <!-- Unnamed () -->
              <div id="u1518" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1519" class="ax_default _形状">
              <div id="u1519_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1520" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">确定</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1521" class="ax_default _形状">
              <div id="u1521_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1522" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">取消</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1523" class="ax_default _图片">
              <img id="u1523_img" class="img " src="images/用户管理/u721.png"/>
              <!-- Unnamed () -->
              <div id="u1524" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1525" class="ax_default _文本段落">
              <div id="u1525_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1526" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">确定删除产品吗？</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1527" class="ax_default _图片">
              <img id="u1527_img" class="img " src="images/用户管理/u768.png"/>
              <!-- Unnamed () -->
              <div id="u1528" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1529" class="ax_default" data-width="615" data-height="16">

        <!-- Unnamed (组合) -->
        <div id="u1530" class="ax_default" data-width="615" data-height="16">

          <!-- Unnamed (组合) -->
          <div id="u1531" class="ax_default" data-width="558" data-height="16">

            <!-- Unnamed (矩形) -->
            <div id="u1532" class="ax_default _文本段落">
              <div id="u1532_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1533" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';font-weight:400;">你好，</span><span style="font-family:'应用字体 Bold', '应用字体';font-weight:700;">admin</span><span style="font-family:'应用字体 Regular', '应用字体';font-weight:400;">,</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1534" class="ax_default _文本段落">
              <div id="u1534_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1535" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">角色：系统管理员</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1536" class="ax_default _文本段落">
              <div id="u1536_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1537" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">【修改密码】</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u1538" class="ax_default _文本段落">
            <div id="u1538_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u1539" class="text">
              <p><span style="font-family:'应用字体 Regular', '应用字体';">【注销】</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1540" class="ax_default _文本段落">
          <div id="u1540_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1541" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">【首页】</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1542" class="ax_default _文本段落">
          <div id="u1542_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1543" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u1544" class="ax_default" data-width="39" data-height="16">

          <!-- Unnamed (图片) -->
          <div id="u1545" class="ax_default _图片">
            <img id="u1545_img" class="img " src="images/系统登录默认页/u148.png"/>
            <!-- Unnamed () -->
            <div id="u1546" class="text" style="display:none; visibility: hidden">
              <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u1547" class="ax_default _文本段落">
            <div id="u1547_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u1548" class="text">
              <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;(</span><span style="font-family:'应用字体 Regular', '应用字体';color:#FF0000;">1</span><span style="font-family:'应用字体 Regular', '应用字体';">)</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1549" class="ax_default _文本段落">
          <div id="u1549_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1550" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">【留言板】</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1551" class="ax_default" data-width="63" data-height="29">

        <!-- Unnamed (图片) -->
        <div id="u1552" class="ax_default _图片">
          <img id="u1552_img" class="img " src="images/系统登录默认页/u155.png"/>
          <!-- Unnamed () -->
          <div id="u1553" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u1554" class="ax_default _图片">
          <img id="u1554_img" class="img " src="images/系统登录默认页/u157.png"/>
          <!-- Unnamed () -->
          <div id="u1555" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1556" class="ax_default _文本段落">
          <div id="u1556_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1557" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">4</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
