<!DOCTYPE html>
<html>
  <head>
    <title>资讯管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/资讯管理/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/资讯管理/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u11603" class="ax_default _文本段落">
        <div id="u11603_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11604" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">资讯管理</span></p>
        </div>
      </div>

      <!-- 菜单 (动态面板) -->
      <div id="u11605" class="ax_default" data-label="菜单">
        <div id="u11605_state0" class="panel_state" data-label="State1" style=" width: NaNpx; height: NaNpx;">
          <div id="u11605_state0_content" class="panel_state_content">

            <!-- Unnamed (组合) -->
            <div id="u11606" class="ax_default" data-width="141" data-height="32">

              <!-- Unnamed (nav) -->

              <!-- Unnamed (nav1) -->

              <!-- Unnamed (图片) -->
              <div id="u11609" class="ax_default _图片">
                <img id="u11609_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                <!-- Unnamed () -->
                <div id="u11610" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u11611" class="ax_default _文本段落">
                <div id="u11611_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u11612" class="text">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';">后台管理</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u11613" class="ax_default" data-width="141" data-height="164">

              <!-- Unnamed (组合) -->
              <div id="u11614" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u11617" class="ax_default _图片">
                  <img id="u11617_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u11618" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u11619" class="ax_default _文本段落">
                  <div id="u11619_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u11620" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">会员管理</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u11621" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u11624" class="ax_default _图片">
                  <img id="u11624_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u11625" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u11626" class="ax_default _文本段落">
                  <div id="u11626_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u11627" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">电子银行</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u11628" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u11631" class="ax_default _图片">
                  <img id="u11631_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u11632" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u11633" class="ax_default _文本段落">
                  <div id="u11633_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u11634" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">购物管理</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u11635" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u11638" class="ax_default _图片">
                  <img id="u11638_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u11639" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u11640" class="ax_default _文本段落">
                  <div id="u11640_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u11641" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">信息查询</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u11642" class="ax_default" data-width="141" data-height="32">

                <!-- Unnamed (nav) -->

                <!-- Unnamed (nav1) -->

                <!-- Unnamed (图片) -->
                <div id="u11645" class="ax_default _图片">
                  <img id="u11645_img" class="img " src="images/系统登录默认页/u12.jpg"/>
                  <!-- Unnamed () -->
                  <div id="u11646" class="text" style="display:none; visibility: hidden">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u11647" class="ax_default _文本段落">
                  <div id="u11647_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u11648" class="text">
                    <p><span style="font-family:'应用字体 Regular', '应用字体';">资讯管理</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11649" class="ax_default _文本段落">
              <div id="u11649_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11650" class="text">
                <p><span style="font-family:'应用字体 Bold', '应用字体';">&nbsp;· 公告管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11651" class="ax_default _文本段落">
              <div id="u11651_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11652" class="text">
                <p><span style="font-family:'应用字体 Bold', '应用字体';">&nbsp;· 资讯管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11653" class="ax_default _文本段落">
              <div id="u11653_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11654" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 下载中心</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11655" class="ax_default _文本段落">
              <div id="u11655_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11656" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;· 留言管理</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11657" class="ax_default _文本段落">
        <div id="u11657_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11658" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11659" class="ax_default _形状">
        <div id="u11659_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11660" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新增</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11661" class="ax_default _形状">
        <div id="u11661_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11662" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">修改</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11663" class="ax_default _形状">
        <div id="u11663_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11664" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11665" class="ax_default _文本段落">
        <div id="u11665_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11666" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">1</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11667" class="ax_default _文本段落">
        <div id="u11667_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11668" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">2</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11669" class="ax_default _文本段落">
        <div id="u11669_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11670" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">3</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11671" class="ax_default _文本段落">
        <div id="u11671_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11672" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">4</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11673" class="ax_default _文本段落">
        <div id="u11673_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11674" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">5</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11675" class="ax_default _文本段落">
        <div id="u11675_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11676" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">6</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11677" class="ax_default _文本段落">
        <div id="u11677_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11678" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">7</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11679" class="ax_default _文本段落">
        <div id="u11679_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11680" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">8</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11681" class="ax_default _文本段落">
        <div id="u11681_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11682" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';text-decoration:underline;">9</span></p>
        </div>
      </div>

      <!-- Unnamed (向右三角形) -->
      <div id="u11683" class="ax_default _形状">
        <img id="u11683_img" class="img " src="images/用户管理/u524.png"/>
        <!-- Unnamed () -->
        <div id="u11684" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11685" class="ax_default _文本段落">
        <div id="u11685_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11686" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';text-decoration:underline;">Next</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11687" class="ax_default _文本段落">
        <div id="u11687_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11688" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">》资讯管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u11689" class="ax_default _表格">

        <!-- Unnamed (单元格) -->
        <div id="u11690" class="ax_default _单元格">
          <img id="u11690_img" class="img " src="images/资讯管理/u11690.png"/>
          <!-- Unnamed () -->
          <div id="u11691" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">选择</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11692" class="ax_default _单元格">
          <img id="u11692_img" class="img " src="images/资讯管理/u11692.png"/>
          <!-- Unnamed () -->
          <div id="u11693" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">文件标题（点击下载）</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11694" class="ax_default _单元格">
          <img id="u11694_img" class="img " src="images/资讯管理/u11694.png"/>
          <!-- Unnamed () -->
          <div id="u11695" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">下载说明</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11696" class="ax_default _单元格">
          <img id="u11696_img" class="img " src="images/资讯管理/u11696.png"/>
          <!-- Unnamed () -->
          <div id="u11697" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">文件大小</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11698" class="ax_default _单元格">
          <img id="u11698_img" class="img " src="images/资讯管理/u11698.png"/>
          <!-- Unnamed () -->
          <div id="u11699" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">下载次数</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11700" class="ax_default _单元格">
          <img id="u11700_img" class="img " src="images/资讯管理/u11700.png"/>
          <!-- Unnamed () -->
          <div id="u11701" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">状态(发布/不发布)</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11702" class="ax_default _单元格">
          <img id="u11702_img" class="img " src="images/资讯管理/u11702.png"/>
          <!-- Unnamed () -->
          <div id="u11703" class="text">
            <p><span style="font-family:'应用字体 Bold', '应用字体';">最后修改时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11704" class="ax_default _单元格">
          <img id="u11704_img" class="img " src="images/资讯管理/u11704.png"/>
          <!-- Unnamed () -->
          <div id="u11705" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11706" class="ax_default _单元格">
          <img id="u11706_img" class="img " src="images/资讯管理/u11706.png"/>
          <!-- Unnamed () -->
          <div id="u11707" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">新世纪发布会[视频]</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11708" class="ax_default _单元格">
          <img id="u11708_img" class="img " src="images/资讯管理/u11708.png"/>
          <!-- Unnamed () -->
          <div id="u11709" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">新世纪发布会花絮</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11710" class="ax_default _单元格">
          <img id="u11710_img" class="img " src="images/资讯管理/u11710.png"/>
          <!-- Unnamed () -->
          <div id="u11711" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">112M</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11712" class="ax_default _单元格">
          <img id="u11712_img" class="img " src="images/资讯管理/u11712.png"/>
          <!-- Unnamed () -->
          <div id="u11713" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">22</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11714" class="ax_default _单元格">
          <img id="u11714_img" class="img " src="images/资讯管理/u11714.png"/>
          <!-- Unnamed () -->
          <div id="u11715" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11716" class="ax_default _单元格">
          <img id="u11716_img" class="img " src="images/资讯管理/u11716.png"/>
          <!-- Unnamed () -->
          <div id="u11717" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-26 15:04:01</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11718" class="ax_default _单元格">
          <img id="u11718_img" class="img " src="images/资讯管理/u11718.png"/>
          <!-- Unnamed () -->
          <div id="u11719" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11720" class="ax_default _单元格">
          <img id="u11720_img" class="img " src="images/资讯管理/u11720.png"/>
          <!-- Unnamed () -->
          <div id="u11721" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">会议音乐之四</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11722" class="ax_default _单元格">
          <img id="u11722_img" class="img " src="images/资讯管理/u11722.png"/>
          <!-- Unnamed () -->
          <div id="u11723" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">入场音乐高清版</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11724" class="ax_default _单元格">
          <img id="u11724_img" class="img " src="images/资讯管理/u11724.png"/>
          <!-- Unnamed () -->
          <div id="u11725" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">6.12M</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11726" class="ax_default _单元格">
          <img id="u11726_img" class="img " src="images/资讯管理/u11726.png"/>
          <!-- Unnamed () -->
          <div id="u11727" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">323</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11728" class="ax_default _单元格">
          <img id="u11728_img" class="img " src="images/资讯管理/u11728.png"/>
          <!-- Unnamed () -->
          <div id="u11729" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11730" class="ax_default _单元格">
          <img id="u11730_img" class="img " src="images/资讯管理/u11730.png"/>
          <!-- Unnamed () -->
          <div id="u11731" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-23 15:04:29</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11732" class="ax_default _单元格">
          <img id="u11732_img" class="img " src="images/资讯管理/u11732.png"/>
          <!-- Unnamed () -->
          <div id="u11733" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11734" class="ax_default _单元格">
          <img id="u11734_img" class="img " src="images/资讯管理/u11734.png"/>
          <!-- Unnamed () -->
          <div id="u11735" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">会议音乐之三</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11736" class="ax_default _单元格">
          <img id="u11736_img" class="img " src="images/资讯管理/u11736.png"/>
          <!-- Unnamed () -->
          <div id="u11737" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">入场音乐高清版3</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11738" class="ax_default _单元格">
          <img id="u11738_img" class="img " src="images/资讯管理/u11738.png"/>
          <!-- Unnamed () -->
          <div id="u11739" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">5.12M</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11740" class="ax_default _单元格">
          <img id="u11740_img" class="img " src="images/资讯管理/u11740.png"/>
          <!-- Unnamed () -->
          <div id="u11741" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">112</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11742" class="ax_default _单元格">
          <img id="u11742_img" class="img " src="images/资讯管理/u11742.png"/>
          <!-- Unnamed () -->
          <div id="u11743" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11744" class="ax_default _单元格">
          <img id="u11744_img" class="img " src="images/资讯管理/u11744.png"/>
          <!-- Unnamed () -->
          <div id="u11745" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-21 17:14:09</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11746" class="ax_default _单元格">
          <img id="u11746_img" class="img " src="images/资讯管理/u11746.png"/>
          <!-- Unnamed () -->
          <div id="u11747" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11748" class="ax_default _单元格">
          <img id="u11748_img" class="img " src="images/资讯管理/u11748.png"/>
          <!-- Unnamed () -->
          <div id="u11749" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">会议音乐之二</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11750" class="ax_default _单元格">
          <img id="u11750_img" class="img " src="images/资讯管理/u11750.png"/>
          <!-- Unnamed () -->
          <div id="u11751" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">入场音乐高清版2</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11752" class="ax_default _单元格">
          <img id="u11752_img" class="img " src="images/资讯管理/u11752.png"/>
          <!-- Unnamed () -->
          <div id="u11753" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">3.12M</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11754" class="ax_default _单元格">
          <img id="u11754_img" class="img " src="images/资讯管理/u11754.png"/>
          <!-- Unnamed () -->
          <div id="u11755" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11756" class="ax_default _单元格">
          <img id="u11756_img" class="img " src="images/资讯管理/u11756.png"/>
          <!-- Unnamed () -->
          <div id="u11757" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11758" class="ax_default _单元格">
          <img id="u11758_img" class="img " src="images/资讯管理/u11758.png"/>
          <!-- Unnamed () -->
          <div id="u11759" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2013-12-11 15:04:49</span></p>
          </div>
        </div>
      </div>

      <!-- r1 (单选按钮) -->
      <div id="u11760" class="ax_default _单选按钮" data-label="r1">
        <label for="u11760_input">
          <!-- Unnamed () -->
          <div id="u11761" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11760_input" type="radio" value="radio" name="u11760" checked/>
      </div>

      <!-- r2 (单选按钮) -->
      <div id="u11762" class="ax_default _单选按钮" data-label="r2">
        <label for="u11762_input">
          <!-- Unnamed () -->
          <div id="u11763" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11762_input" type="radio" value="radio" name="u11762"/>
      </div>

      <!-- r3 (单选按钮) -->
      <div id="u11764" class="ax_default _单选按钮" data-label="r3">
        <label for="u11764_input">
          <!-- Unnamed () -->
          <div id="u11765" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11764_input" type="radio" value="radio" name="u11764"/>
      </div>

      <!-- r4 (单选按钮) -->
      <div id="u11766" class="ax_default _单选按钮" data-label="r4">
        <label for="u11766_input">
          <!-- Unnamed () -->
          <div id="u11767" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11766_input" type="radio" value="radio" name="u11766"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u11768" class="ax_default _复选框">
        <label for="u11768_input">
          <!-- Unnamed () -->
          <div id="u11769" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11768_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u11770" class="ax_default _复选框">
        <label for="u11770_input">
          <!-- Unnamed () -->
          <div id="u11771" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11770_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u11772" class="ax_default _复选框">
        <label for="u11772_input">
          <!-- Unnamed () -->
          <div id="u11773" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11772_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u11774" class="ax_default _复选框">
        <label for="u11774_input">
          <!-- Unnamed () -->
          <div id="u11775" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u11774_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11776" class="ax_default _文本段落">
        <div id="u11776_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11777" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">注：状态打钩或去掉打钩则立即生效</span></p>
        </div>
      </div>

      <!-- comfrom (动态面板) -->
      <div id="u11778" class="ax_default ax_default_hidden" data-label="comfrom" style="display:none; visibility: hidden">
        <div id="u11778_state0" class="panel_state" data-label="State1" style=" width: NaNpx; height: NaNpx;">
          <div id="u11778_state0_content" class="panel_state_content">

            <!-- Unnamed (组合) -->
            <div id="u11779" class="ax_default" data-width="250" data-height="160">

              <!-- Unnamed (矩形) -->
              <div id="u11780" class="ax_default _形状">
                <div id="u11780_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u11781" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u11782" class="ax_default _形状">
                <img id="u11782_img" class="img " src="images/用户管理/u713.png"/>
                <!-- Unnamed () -->
                <div id="u11783" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11784" class="ax_default _文本段落">
              <div id="u11784_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11785" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">提示</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u11786" class="ax_default _图片">
              <img id="u11786_img" class="img " src="images/用户管理/u549.png"/>
              <!-- Unnamed () -->
              <div id="u11787" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11788" class="ax_default _形状">
              <div id="u11788_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11789" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">确定</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11790" class="ax_default _形状">
              <div id="u11790_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11791" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">取消</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u11792" class="ax_default _图片">
              <img id="u11792_img" class="img " src="images/用户管理/u721.png"/>
              <!-- Unnamed () -->
              <div id="u11793" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11794" class="ax_default _文本段落">
              <div id="u11794_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11795" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">确定删除该资讯吗？</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u11796" class="ax_default _图片">
              <img id="u11796_img" class="img " src="images/商品管理/u1502.png"/>
              <!-- Unnamed () -->
              <div id="u11797" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- alert-delete (动态面板) -->
      <div id="u11798" class="ax_default ax_default_hidden" data-label="alert-delete" style="display:none; visibility: hidden">
        <div id="u11798_state0" class="panel_state" data-label="State1" style=" width: NaNpx; height: NaNpx;">
          <div id="u11798_state0_content" class="panel_state_content">

            <!-- Unnamed (组合) -->
            <div id="u11799" class="ax_default" data-width="250" data-height="160">

              <!-- Unnamed (矩形) -->
              <div id="u11800" class="ax_default _形状">
                <div id="u11800_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u11801" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u11802" class="ax_default _形状">
                <img id="u11802_img" class="img " src="images/用户管理/u713.png"/>
                <!-- Unnamed () -->
                <div id="u11803" class="text" style="display:none; visibility: hidden">
                  <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11804" class="ax_default _文本段落">
              <div id="u11804_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11805" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">提示</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u11806" class="ax_default _图片">
              <img id="u11806_img" class="img " src="images/用户管理/u549.png"/>
              <!-- Unnamed () -->
              <div id="u11807" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11808" class="ax_default _形状">
              <div id="u11808_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11809" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">确定</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u11810" class="ax_default _图片">
              <img id="u11810_img" class="img " src="images/用户管理/u721.png"/>
              <!-- Unnamed () -->
              <div id="u11811" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u11812" class="ax_default _图片">
              <img id="u11812_img" class="img " src="images/用户管理/u725.png"/>
              <!-- Unnamed () -->
              <div id="u11813" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11814" class="ax_default _文本段落">
              <div id="u11814_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11815" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">删除成功！</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11816" class="ax_default" data-width="615" data-height="16">

        <!-- Unnamed (组合) -->
        <div id="u11817" class="ax_default" data-width="615" data-height="16">

          <!-- Unnamed (组合) -->
          <div id="u11818" class="ax_default" data-width="558" data-height="16">

            <!-- Unnamed (矩形) -->
            <div id="u11819" class="ax_default _文本段落">
              <div id="u11819_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11820" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';font-weight:400;">你好，</span><span style="font-family:'应用字体 Bold', '应用字体';font-weight:700;">admin</span><span style="font-family:'应用字体 Regular', '应用字体';font-weight:400;">,</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11821" class="ax_default _文本段落">
              <div id="u11821_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11822" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">角色：系统管理员</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11823" class="ax_default _文本段落">
              <div id="u11823_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11824" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">【修改密码】</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u11825" class="ax_default _文本段落">
            <div id="u11825_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u11826" class="text">
              <p><span style="font-family:'应用字体 Regular', '应用字体';">【注销】</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11827" class="ax_default _文本段落">
          <div id="u11827_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11828" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">【首页】</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11829" class="ax_default _文本段落">
          <div id="u11829_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11830" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u11831" class="ax_default" data-width="39" data-height="16">

          <!-- Unnamed (图片) -->
          <div id="u11832" class="ax_default _图片">
            <img id="u11832_img" class="img " src="images/系统登录默认页/u148.png"/>
            <!-- Unnamed () -->
            <div id="u11833" class="text" style="display:none; visibility: hidden">
              <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u11834" class="ax_default _文本段落">
            <div id="u11834_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u11835" class="text">
              <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;(</span><span style="font-family:'应用字体 Regular', '应用字体';color:#FF0000;">1</span><span style="font-family:'应用字体 Regular', '应用字体';">)</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11836" class="ax_default _文本段落">
          <div id="u11836_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11837" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">【留言板】</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11838" class="ax_default" data-width="63" data-height="29">

        <!-- Unnamed (图片) -->
        <div id="u11839" class="ax_default _图片">
          <img id="u11839_img" class="img " src="images/系统登录默认页/u155.png"/>
          <!-- Unnamed () -->
          <div id="u11840" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u11841" class="ax_default _图片">
          <img id="u11841_img" class="img " src="images/系统登录默认页/u157.png"/>
          <!-- Unnamed () -->
          <div id="u11842" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11843" class="ax_default _文本段落">
          <div id="u11843_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11844" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">4</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
